body {
  background-color: #1395ba;
}

h3 {
  width: 425px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #0d3c55;
  padding: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  border: 0;
  background-color: #ebc844;
  color: #0d3c55;
  padding: 10px 15px;
  cursor: hand;
}

select:hover, select:focus {
  background-color: #32cd32;
}

svg {
  position: relative;
  float: right;
  border: solid;
  border-color: #32cd32;
}

svg:active {
  cursor: pointer;
  cursor: hand;
}

#content-div {
  color: #ebc844;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

#content-div a {
  color: #32cd32;
}

.svg-pan-zoom-control-background {
  fill: rgba(0,0,0,0) !important;
}

.svg-pan-zoom-control {
  fill: #32cd32 !important;
  fill-opacity: 1 !important;
}

.greenify {
  color: #32cd32;
}

.orangify {
  color: #f16c20;
}

.explanation {
  position: relative;
  float: left;
  top: -15px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #0d3c55;
}


.display {
  display: block;
  width: 800px;
  height: 480px;
  padding: 20px;
  margin: 0 auto;
  background-color: #ebc844;
}

.select-menu {
  position: absolute;
  top: 25px;
  right: 25px;
}

.slide-bars {
  position: absolute;
  bottom: 20px;
  right: 25px;
}

.control-panel {
  width: 750px;
  height: 130px;
  margin: 30px auto;
  padding: 20px;
  background-color: #0d3c55;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #ebc844;
  position: relative;
}

.generations-counter {
  position: absolute;
  top: 35px;
  left: 25px;
}

.buttons-container {
  position: absolute;
  bottom: 35px;
  left: 25px;
}

.button-link {
  padding: 10px 15px;
  background: #ebc844;
  color: #0d3c55;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button-link:hover, .button-link:focus {
  background: #32cd32;
}
